
    <% layout('layouts/boilerplate')%>
    <h1>Zonke Inyanga</h1>
    <div>
        <a href="/inyanga/new">Add a Member</a>
    </div>
        <% for (let nyanga of inyanga) { %> 
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=nyanga.images[0].url%>">
                    </div>       

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= nyanga.surname %> </h5>
                            <p class="card-text">
                                <small class="text-muted"><%= nyanga.nicName%></small>
                            </p>
                            <p class="card-text"><%= nyanga.massege%></p>
                            <a class="btn btn-primary" href="/inyanga/<%=nyanga._id%>">View <%=nyanga.surname%></a>
                        </div>
                    </div>

                </div> 
            </div> 
        <%}  %> 
  

    