<% layout('layouts/boilerplate')%>
<h1> <%= inyanga.name %></h1>
<h2><%= inyanga.surname %></h2>
<img src="<%= inyanga.image%>" class="card-img-top" alt="...">
<p class="card-text"><%= inyanga.massege%></p>
    
</body>
<p>
    <a href="/inyanga/<%=inyanga._id%>/edit">Edit</a>
</p>
<p>
    <form action="/inyanga/<%=inyanga._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
<footer>
    
    <a href="/inyanga">All Doctors</a>
</footer>